		
		
* {margin: 0; padding: 0;}

html, 
body, 
.wrapper {
    height: 100%;
}


.wrapper {
width: 800px;
margin: auto;
}
		
footer {
height: 150px;
width: 700px;
background: yellow;
margin-left: 50px;
}

.content {
	min-height: 100%;
	margin-bottom: -150px;
	background: linear-gradient(45deg, gray, #c0c0c0);
}

.empty {
	background: red;
	height: 150px;
}

h1 {
text-align: center;
width: 70%;
border: 3px solid #5656;
border-radius: 20px 0px;
margin: 40px auto;
box-shadow: 5px 5px 5px rgba(0,0,0,.5);
background: repeating-linear-gradient(45deg, #bbb, #bbb 10px, #c0c0c0 10px, #c0c0c0 20px);
}


form {
border: 3px solid #5656;
padding: 10px;
display: inline-block;
margin-left: 20px;
}

span {
display: none;
}

form:hover span {
display: inline;
}


